@import "base/variables";

// foundation
@import "base/foundation-settings";
@import "foundation";
@include foundation-everything;

// Components
.component1 {
  //border: 1px solid black;
  display: block;
  width: 900px;
  height: 300px;
}
.component2 {
//  border: 1px solid red;
  display: block;
  width: 100%;
  height: 100%;
  padding: 30px;
}
.component3 {
//  border: 1px solid green;
  display: inline-block;
  width: 40%;
  height: 100px;
  padding: 10px;

}
.component4 {
//  border: 1px solid pink;
  display: inline-block;
  width: 40%;
  height: 100px;
  padding: 10px;

}
.holder34{
  width: 100%;
  height: 100%;
  margin-top: 30px
}
